*{
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 0 50px;
    background-color: #215c7e;
    color:white;
    text-decoration: none;
}
  
.nav-links{
    display: flex;
    justify-content:space-around;
    width: 50%;
    height: 100%;
    list-style: none;
}
.nav-links li {
    margin-top:1vh;
    font-size: 2vh;
} 
.nav-links li a{
    text-decoration: none;
    color:white;
}

.main-nav {
    background-color: #f0f0f0;
    padding: 10px;
  }
  .regions-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  .regions-box:hover .additional-links,
  .additional-links:hover {
    display: block;
  }
  .additional-links {
    display: none;
    position: absolute;
    left: 0;
    background-color: #215c7e;
    padding: 10px;
    z-index: 1;
    transition: opacity 0.3s;
  }
  .regions-box:hover .additional-links {
    display: block;
  }
  .link {
opacity: 1;
animation: opaklik 2s;
}
@keyframes opaklik {
0% {
  opacity: 0;
}
25%{
  opacity: 0.25;
}
50% {
  opacity: 0.5;
}
60%
{
  opacity: 0.25;
}
75%{
  opacity: 0.75;
}
100% {
  opacity: 1;
}
}

.link:nth-child(1) {
animation-delay: 0s;
}

.link:nth-child(2) {
animation-delay: 0.2s;
}

.link:nth-child(3) {
animation-delay: 0.4s;
}

.link:nth-child(4) {
animation-delay: 0.6s;
}

.link:nth-child(5) {
animation-delay: 0.8s;
}

.link:nth-child(6) {
animation-delay: 1s;
}

.link:nth-child(7) {
animation-delay: 1.2s;
}
  .additional-links a {
    display: block;
    margin-bottom: 5px;
    color: #000;
    text-decoration: none;
  }