main{
    width: 80%;
    margin:0 auto;

}
h1{
    width: 100%;
    margin-top:1vw;
    height: 2vw;
    padding-top: 0.4vw;
    font-size: 1.1vw;
    text-align: center;
}
.geneldiv{
    width: 100%;
    height: 20vw;
    background-color: rgb(241, 241, 241);
    margin-bottom:2vw;
}
.sol{
    background-color: rgb(216, 234, 255);
    margin-top:5vw;
    margin-left:10%;
    width: 35%;
    height: 10vw;
    float: left;
}
.sag{
    background-color: rgb(216, 234, 255);
    margin-top:5vw;
    margin-right:10%;
    width: 35%;
    height: 10vw;
    float: right;
}
.isimkutu{
    margin-top:3vw;
    width: 100%;
    float: left;
}
.epostakutu{
    float: left;
    
}
.solmesaj
{
    float: right;
    margin-top:-4.5vw;
}
#message1{
height: 5vw;
}
#message2{
    height: 5vw;
    }
.gonder1{
    margin-top:1vw;
    margin-left: 45%;
}